# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# node modules should never be commit
**/node_modules/

# local vars & env vars
**/.env
**/.env.local
**/.vercel
**/.next
**/.env*.local

# testing
coverage

# misc
.DS_Store

# mongod data
data

# build target directories should stay on your machine
**/bin
**/dist

# debug dumps should stay on your machine
npm-debug.log*
yarn-debug.log*
yarn-error.log*


